:root {
    --button-group-background: #a7a7a7;
    --button-border-color: #555555;
    --player-back-color: #e5e5e5;
    --border-group-color: #323232;
    --button-selected-paper: #c13d3d;
    --button-selected-rock: #0068ca;
    --button-selected-scissors: #d5e40d;
    --win-color: #FFD700;
    --lose-color: #FF0000;
    --tie-color: #16451c;
    --light-green: #25db2e;
    --button-group-border: 2px solid var(--border-group-color);
    --button-border: 2px dashed var(--button-border-color);
    --icon-border: 2px solid aliceblue;
}

/* Main Components of Page */

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    display: grid;
    grid-template:
        "header" max-content
        "players" max-content
        "score" max-content
        "blank" 1fr
        "footer" max-content / 1fr;
    min-height: 100%;
    background-color: var(--border-group-color);
}

h1,
h2,
h3 {
    color: aliceblue;
}

/* Header */

header {
    grid-area: header;
}

header>h1 {
    text-align: center;
    color: var(--light-green);
}

/* Buttons and Section */

section.select>button>img {
    max-width: 10rem;
    display: block;
}

section.select {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: minmax(1fr 400px);
    background-color: var(--button-group-background);
    border-radius: 1rem;
    border: var(--button-group-border);
}

section.select button {
    border-radius: 1rem;
    margin: 4px;
    padding: 1.5rem;
    border: var(--button-border);
    transition: 0.2s all ease-in-out;
}

section.select h2 {
    width: 100%;
}

/* Score Keeping */

section.score {
    text-align: center;
}

section.score h1 {
    font-family: 'Mate', serif;
}

section.score>h1>i {
    border: var(--icon-border);
    border-radius: 4px;
    background-color: var(--button-group-background)
}

section.score>h1>i.win-icon {
    color: var(--win-color);
}

section.score>h1>i.lose-icon {
    color: var(--lose-color);
}

section.score>h1>i.tie-icon {
    color: var(--tie-color);
}

section.score>button>p {
    margin: 1rem 2rem;
}

/* Grid Locations */

section.players {
    grid-area: players;
    display: grid;
    grid-template:
        "userName aiName" max-content
        "user ai" max-content / 1fr 1fr;
    justify-items: center;
    padding-bottom: 2rem;
}

h2.playerName {
    grid-area: userName;
}

h2.aiName {
    grid-area: aiName;
}

section.userSelect {
    grid-area: user;
}

section.aiSelect {
    grid-area: ai;
}

.selectedButtonRock {
    background-color: var(--button-selected-rock);
}

.selectedButtonPaper {
    background-color: var(--button-selected-paper);
}

.selectedButtonScissors {
    background-color: var(--button-selected-scissors);
}

.dataChange {
    color: var(--light-green);
}

section.blank {
    grid-area: blank;
}

footer {
    grid-area: footer;
}

/* Footer */

footer>h3 {
    padding-left: 3rem;
    font-size: 1.5rem;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    section.players {
        grid-template:
            "userName" max-content
            "user" max-content
            "aiName" max-content
            "ai" max-content / 1fr;
    }
}